name: GitHub Classroom Workflow

on: push

permissions:
  checks: write
  issues: write
  actions: read
  contents: read

jobs:
  copy-issues:
    if: ${{ contains(github.actor, 'classroom') }}
    uses: BZZ-Commons/workflows/.github/workflows/setup.yml@main
    with:
      SOURCE_REPO: templates-python/m319-lu12-a03-lottery
      TARGET_REPO: ${{ github.repository }}
      ADD_LABELS: "true"
    secrets:
      GHSECRET: ${{ secrets.GITHUB_TOKEN }}

  grading:
    if: ${{ !contains(github.actor, 'classroom') }}
    uses: BZZ-Commons/workflows/.github/workflows/grading.yml@main
    with:
      MOODLE: true  # CHANGE true=export grade to moodle
    secrets: inherit
